.wdth{
    margin-top:100px;
    width: 400px;
    float: center;
    background-color:lightslategray;
   
    padding:50px;
}
button{
    margin-top:20px;
    width:300px;
    }
    
    .bgdiv{

        width: 600px;
        height :350px;
        background-color:lightslategray;
        align-items: center;
        border-radius: 5px;
        box-shadow: 5px
    }