
        <div class="row">
                <div class="col-sm-3 " >
                  <ul class="list-unstyled" id="firstcol">
                    <li (click)="getAllProducts()"> <button class="btn btn-primary">=>Get All Products</button></li>
                    <li>=> Get All Orders</li>
                    <li>=> Find Product By Id</li>
                    <li>=> Find Order By ID</li>
                  </ul>
                  
                </div>
                <div class="col-sm-6">
                    <div class="row" *ngFor="let res of data">
                            {{data[res]}}
                    </div>
                </div>
         </div>
        

